footer
  .container
    ul.list-inline.pull-left
      li &copy; #{moment(Date.now()).format('YYYY')} opXL Learning Systems
    
    ul.list-inline.pull-right
      li
        a(href="http://www.opxl.net" target="_blank") www.opxl.net
